.container {
    margin: 0;
    color: white;
    height: 100%;
    display: block;
}

.sentence{
    text-align: center;
}


.graphic {
    float: left;
    margin: 0;
    width: 5%;
    height: 10%;
}






